################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TenisRanking/v15/Server/sqlite3
/.vs
/TenisRanking/bin/Debug/netcoreapp2.1
/TenisRanking/obj/Debug/netcoreapp2.1
obj
/TenisRanking/TenisRanking.csproj.user
/TenisRanking/bin/Release/netcoreapp2.1
/TenisRanking/Properties/PublishProfiles
/TenisRanking/appsettings.Development.json
