@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Player name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Games won vs games lost</h6>
                <h6 class="card-subtitle mb-2 text-muted">DateTime of last game played</h6>
                <p class="card-text">List of games</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Player name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Games won vs games lost</h6>
                <h6 class="card-subtitle mb-2 text-muted">DateTime of last game played</h6>
                <p class="card-text">List of games</p>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Player name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Games won vs games lost</h6>
                <h6 class="card-subtitle mb-2 text-muted">DateTime of last game played</h6>
                <p class="card-text">List of games</p>
            </div>
        </div>
    </div>
</div>
