@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potvrzení emailu";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div>
        <p>
            Dík za potvrzení!
        </p>
    </div>
</div>