@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrzení o resetování hesla";
}

<h2>@ViewData["Title"]</h2>
<p>
    Heslo bylo resetováno. <a class="text-light" asp-page="./Login">Kliknout pro přihlášení</a>.
</p>
